<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Payment">
	<test thread-count="5" name="NetBanking">
		<classes>
			<class name="opack.TestTwo" />
			<class name="kpack.TestThree" />


		</classes>
	</test> <!-- Test -->

	<test thread-count="5" name="CreditCard">
		<classes>
			<class name="opack.TestOne" />
			<class name="kpack.TestFour" />

		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
